<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Rentify</h4>
          <p>Rentify is a rental platform that connects renters with property owners. With thousands of properties available, we help renters find their perfect home and property owners find the right tenants.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li>www.rinshad.com</li>
            <li>rinshadcm34@gmail.com</li>

          </ul>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="list-unstyled social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  