<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/8C1xG6rb/Dark-Photo-Gradient-Real-Estate-Lanscape-Banner.png" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/5064TJg7/Blue-and-Gold-Minimalist-Merry-Christmas-Banner.png"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/4d3dYyj6/Grey-Simple-Modern-Rent-a-Car-Banner-Landscape.png"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




<div class="container mt-100">
    <div class="row">
        <div (click)="filter('')" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/ydpZgZwT/all.jpg" alt="Category"></div>
                        <div class="thumblist"><img src="https://i.postimg.cc/W4XDCZbP/rent.jpg" alt="Category"><img
                                src="https://i.postimg.cc/P5HQkmhL/allp.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">All Products</h4>
                    <p class="text-muted">Starting from ₹200 </p>
                </div>
            </div>
        </div>
        <div (click)="filter(1)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/gjkF2ss7/Clothingss.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/2jbngHpj/men.jpg" alt="Category"><img
                                src="https://i.postimg.cc/XNfYZFdc/women.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Clothings</h4>
                    <p class="text-muted">Starting from ₹999</p>
                </div>
            </div>
        </div>
        <div (click)="filter(2)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/KzFB4qVx/vehicles.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/W3s0WYst/carsq.jpg" alt="Category"><img
                                src="https://i.postimg.cc/HnRcg61w/bikesq.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Vehicles</h4>
                    <p class="text-muted">Starting from ₹10000</p>
                </div>
            </div>
        </div>
        <div (click)="filter(3)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/qvztk4Nh/p1.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/WzY2Kq69/p2.jpg" alt="Category"><img
                                src="https://i.postimg.cc/ydVs8yLQ/p3.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Properties</h4>
                    <p class="text-muted">Starting from ₹20000</p>
                </div>
            </div>
        </div>
        <div (click)="filter(4)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/FRQgd7Sn/e1.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/1tJnmtrF/e2.jpg" alt="Category"><img
                                src="https://i.postimg.cc/ZnvTGK74/e3.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Electronics</h4>
                    <p class="text-muted">Starting from ₹1000</p>
                </div>
            </div>
        </div>
        <div (click)="filter(5)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/Y9kDcXd9/m1.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/SNz6r6Gt/m2.jpg" alt="Category"><img
                                src="https://i.postimg.cc/sDFcbH1R/m3.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Media & Entertainment</h4>
                    <p class="text-muted">Starting from ₹1000</p>
                </div>
            </div>
        </div>
        <div (click)="filter(6)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/T3jfns52/c1.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/R0rGxPgt/c2.jpg" alt="Category"><img
                                src="https://i.postimg.cc/qMPZpMRg/c3.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Computer Accessories</h4>
                    <p class="text-muted">Starting from ₹4000</p>
                </div>
            </div>
        </div>
        <div (click)="filter(7)" class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="https://i.postimg.cc/5tVz4DLw/z1.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="https://i.postimg.cc/65ZT8Y9z/z2.jpg" alt="Category"><img
                                src="https://i.postimg.cc/fycLrRqp/z3.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Others</h4>
                    <p class="text-muted">Starting from ₹200</p>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="view" class="row p-5">
    <div *ngFor="let i of filterproducts | filter:searchkey:'productName'" class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img class="pic-1" src="{{i.productImage}}">
                </a>
                <!-- <span class="product-discount-label"></span> -->
                <ul class="product-links">
                    <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
            <div class="product-content">
                <ul class="rating">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <li class="fa" [ngClass]="{'fa-star': star <= i.rating, 'fa-star-o': star > i.rating}"></li>
                    </ng-container>
                </ul>
                
                <h3 class="title spacing"><a href="product/view-product/{{i.id}}">{{i.productName}}</a></h3>
                <p class="spacing">{{i.description}}</p>
                <div class="price spacing"><span>₹{{i.previousPrice}}</span> ₹{{i.price}}</div>
                <a class="add-to-cart" href="product/view-product/{{i.id}}">View Product</a>
            </div>
        </div>
    </div>
</div>